<footer class="footer">
  <nav class="footer__nav--articles">
    <ul class="footer__nav">
      <li><a class="footer__nav--item" href="https://adalab.es/" target="_blank">Articles</a></li>
      <li><a class="footer__nav--item" href="https://adalab.es/" target="_blank">Books</a></li>
      <li><a class="footer__nav--item" href="https://adalab.es/" target="_blank">Events</a></li>
      <li><a class="footer__nav--item" href="https://adalab.es/" target="_blank">Reasons</a></li>
      <li><a class="footer__nav--item" href="https://adalab.es/" target="_blank">Tips</a></li>
    </ul>
  </nav>
  <nav class="footer__nav--social">
    <ul class="footer__nav">
      <li><a class="footer__nav--item" href="https://adalab.es/" target="_blank">twitter</a></li>
      <li><a class="footer__nav--item" href="https://adalab.es/" target="_blank">instagram</a></li>
      <li><a class="footer__nav--item" href="https://adalab.es/" target="_blank">mastodon.social</a></li>
    </ul>
  </nav>
  <small class="footer__small">
    <span>&copy;2021</span>
    <div>we <span class="footer__small--icon">❤︎</span> components</div>
  </small>
</footer>
