<footer class="footer">
<ul class="footer__menu1">
  <li class="footer__menu--item">
    Articles
  </li>
  <li class="footer__menu--item">
    Books
  </li>
  <li class="footer__menu--item">
    Events
  </li>
  <li class="footer__menu--item">
    Reasons
  </li>
  <li class="footer__menu--item">
    Tips
  </li>
</ul>
<ul class="footer__menu2">
  <li class="footer__menu--item">twitter</li>
  <li class="footer__menu--item">instagram</li>
  <li class="footer__menu--item">mastodon.social</li>
</ul>
  <small>
    <span>&copy;2021</span> 
    <div>we <span class="heart">❤︎</span> components</div>

  </small>
</footer>
