<footer class="footer">
  <nav class="footer__nav--articles">
    <ul class="footer__nav">
      <li>
        <a class="footer__nav--item" href="https://adalab.es/" target="_blank" title="Go to 'Articles'"
          >Articles</a
        >
      </li>
      <li>
        <a class="footer__nav--item" href="https://adalab.es/" target="_blank" title="Go to 'Books'"
          >Books</a
        >
      </li>
      <li>
        <a class="footer__nav--item" href="https://adalab.es/" target="_blank" title="Go to 'Events'"
          >Events</a
        >
      </li>
      <li>
        <a class="footer__nav--item" href="https://adalab.es/" target="_blank" title="Go to 'Reasons'"
          >Reasons</a
        >
      </li>
      <li>
        <a class="footer__nav--item" href="https://adalab.es/" target="_blank" title="Go to 'Tips'"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__nav--social">
    <ul class="footer__nav">
      <li>
        <a class="footer__nav--item" href="https://adalab.es/" target="_blank" title="Visit our Twitter"
          >twitter</a
        >
      </li>
      <li>
        <a class="footer__nav--item" href="https://adalab.es/" target="_blank" title="Visit our Instagram"
          >instagram</a
        >
      </li>
      <li>
        <a class="footer__nav--item" href="https://adalab.es/" target="_blank" title="Visit our Mastodon.social"
          >mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <small class="footer__small">
    <span>&copy;2021</span>
    <div>we <span class="footer__small--icon">❤︎</span> components</div>
  </small>
</footer>
