<header class="header" id="header">
  <nav class="hamburger">
    <a href="https://adalab.es/" target="_blank">
      <img
        src="./assets/images/ico-menu.svg"
        title="menu"
        alt="menu with a link to adalab.es"
      />
    </a>
  </nav>
  <h1 class="header__title">
    <div>anonymous</div>
    <div>proxy</div>
  </h1>
  <p class="header__text">In hac habitasse platea dictumst.</p>
  <div class="header__scroll">
    <a href="#module3">
      <img
        class="header__scroll--icon"
        src="./assets/images/ico-scroll-down.svg"
        title="scroll"
        alt="scroll down to module3 section"
      />
    </a>
  </div>
</header>
