<header class="hero" id="hero">
  <nav class="hero__nav">
    <a href="https://adalab.es/" target="_blank">
      <img
        src="./assets/images/ico-menu.svg"
        title="menu"
        alt="menu with a link to adalab.es"
      />
    </a>
  </nav>
  <h1 class="hero__title">
    <div>anonymous</div>
    <div>proxy</div>
  </h1>
  <p class="hero__text">In hac habitasse platea dictumst.</p>
  <div class="hero__scroll">
    <a href="#module3">
      <img
        class="hero__scroll--icon"
        src="./assets/images/ico-scroll-down.svg"
        title="scroll down"
        alt="scroll down to module3 section"
      />
    </a>
  </div>
</header>
