<section class="module3" id="module3">
  <h2 class="module3__title">3 reasons to purchase</h2>
  <div class="module3__articles">
    <article class="module3__article">
      <h3 class="module3__article--title">Ut sed metus</h3>
      <p class="module3__article--text">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </article>
    <article class="module3__article">
      <h3 class="module3__article--title">Curabitur ac erat</h3>
      <p class="module3__article--text">
        Mauris mattis urna quis lorem molestie.
      </p>
    </article>
    <article class="module3__article">
      <h3 class="module3__article--title">Morbi dictum</h3>
      <p class="module3__article--text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </div>
  <div class="module3__button">
    <a class="module3__button--link" href="https://adalab.es/" target="_blank"
      >More reasons</a>
  </div>
</section>
