// fonts
$roboto: 'Roboto', sans-serif;
$robotoSlab: 'Roboto Slab', serif;

// colors
$k: #000000;
$white05:rgba(255, 255, 255, 0.5);
$c: #f26002;
$ice-blue: #eff9ff;
$dark-grey-blue: #304268;
$white: #ffffff;
$hamburger: #0271bc;
$light-blue: #8ccbea;
$greyish-brown: #4a4a4a;







