.footer {
  background-color: $dark-grey-blue;
  font-family: $roboto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 60px 0 45px;
  @media all and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
    padding: 45px 39px 45px;
  }
  @media all and (min-width: 1280px) {
    justify-content: space-evenly;
    padding: 45px 370px;
  }
  &__nav {
    font-size: 16px;
    line-height: 1.88;
    text-transform: uppercase;
    color: $white;
    @media all and (min-width: 768px) {
      margin-left: 30px;
    }
    &--item {
      color: $white;
    }
  }
  &__small {
    font-size: 14px;
    line-height: 2.14;
    @media all and (min-width: 768px) {
      order: -1;
    }
    &--icon {
      color: $c;
    }
  }
}
