.hero {
  height: 100vh;
  width: 100%;
  background: url(../images/cover.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: $white;
  padding: 0 15px 53px;

  &__nav {
    width: 44px;
    height: 44px;
    background-color: $hamburger;
    padding: 15px 14px;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__title {
    text-transform: uppercase;
    transform: translateY(50vh);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    font-family: $robotoSlab;
    font-size: 42px;
    line-height: 1.31;
    text-align: center;
    font-weight: bold;
    padding: 0 15px 10px;
    animation: intro 4s ease 1;
    @media all and (min-width: 768px) {
      font-size: 80px;
      line-height: 1.33;
    }
    @media all and (min-width: 1200px) {
      font-size: 100px;
      line-height: 1.32;
      text-shadow: 0 2px 5px $k-50;
    }
  }
  @keyframes intro {
    from {
      opacity: 0;
      transform: translateY(40vh);
    }
    to {
      opacity: 1;
      transform: translateY(50vh);
    }
  }
  &__text {
    transform: translateY(50vh);
    font-family: $roboto;
    font-size: 16px;
    text-align: center;
    color: $white;
    padding: 0 15px;

    @media all and (min-width: 768px) {
      font-size: 24px;
      margin-top: 20px;
    }
    @media all and (min-width: 1220px) {
      margin-top: 0;
    }
  }

  &__scroll {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $white;
    align-self: center;
    position: absolute;
    bottom: 9.33vh;
    padding: 16px 14px;
    @media all and (min-width: 768px) {
      bottom: 5.85vh;
    }
    @media all and (min-width: 1220px) {
      bottom: 1.69vh;
    }
  }
}
