.module2 {
  @media all and (min-width: 1280px) {
    padding: 60px 275px;
  }
  &__minititle {
    font-family: $roboto;
    font-size: 14px;
    line-height: 2.14;
    color: $light-blue;
    margin: 30px 0 0 15px;
    @media all and (min-width: 768px) {
      margin-left: 39px;
    }
    @media all and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.88;
      margin: 0;
    }
  }
  &__title {
    margin: 1px 15px 15px;
    font-family: $robotoSlab;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: $k;
    text-transform: capitalize;
    @media all and (min-width: 768px) {
      margin: 0 39px 30px;
      font-size: 26px;
      line-height: 1.73;
    }
    @media all and (min-width: 1280px) {
      margin: 0 0 30px;
      font-size: 32px;
      line-height: 1.41;
    }
  }
  &__text {
    margin: 0 15px 30px;
    font-family: $roboto;
    font-size: 18px;
    line-height: 1.67;
    color: $greyish-brown;
    @media all and (min-width: 768px) {
      margin: 0 39px 30px;
      font-size: 20px;
      line-height: 1.5;
    }
    @media all and (min-width: 1280px) {
      margin: 0 0 30px;
    }
  }
  &__button {
    width: 76px;
    height: 45px;
    margin: 0 0 45px 15px;
    border-radius: 22.5px;
    border: solid 2px $c;
    transition: all 0.5s ease;
    @media all and (min-width: 768px) {
      width: 91px;
      margin: 0 0 60px 39px;
    }
    @media all and (min-width: 1280px) {
      width: 160px;
      margin: 0;
    }

    &:hover {
      background-color: $c;
      transform: scale(1.2);
    }

    &--link {
      padding: 10px 25px;
      font-family: $roboto;
      font-size: 20px;
      font-weight: 500;
      line-height: 2.25;
      color: $c;
      transition: all 0.3 ease;
      @media all and (min-width: 768px) {
        padding: 10px 30px;
      }
      @media all and (min-width: 1280px) {
        padding: 10px 67px;
      }

      &:hover {
        color: white;
      }
    }
  }
}
