.section {
    background: $c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    }

&__link {
    color: white;
}
}

